<div class="text-center">
    <h1>ログインページ</h1>
</div>

<div class="row">
    <div class="login col-sm-5 mx-auto text-dark">
        
        <%= form_with(url: login_path, scope: :session) do |f| %>
        
            <div class="mb-3">
                <%= f.label :email, 'Email' %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレスを入力'%>
            </div>
            
            <div class="mb-3">
                <%= f.label :password, 'Password' %>
                <%= f.password_field :password, class: 'form-control', placeholder: 'パスワードを入力' %>
            </div>
            
            <div class="login_button">
                <%= f.submit 'ログイン', class: 'btn text-dark' %>
            </div>
        <% end %>
        
        <p>会員登録していない方は <%= link_to '新規登録', signup_path %></p>
    </div>
</div>