<div>
    <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><%= link_to 'ユーザー', users_path, class: "nav-link" %></li>
        <li class="nav-item"><a href="<%= followers_user_path(current_user) %>" class="nav-link <%= 'active' if action_name == "followers" %>">フォロワー <span class="badge rounded-pill bg-secondary"><%= @count_followers %></span></a></li>
        <li class="nav-item"><a href="<%= followings_user_path(current_user) %>" class="nav-link <%= 'active' if action_name == "followings" %>">フォロー <span class="badge rounded-pill bg-secondary"><%= @count_followings %></span></a></li>
    </ul>
</div>


<% if users.any? %>
    
    <% users.each do |user| %>
        <% unless user == current_user %>
            <div class="row users">
                <div class="col-4 col-md-1">
                    <div class="icon_users">
                        <%= image_tag user.image.to_s %>
                    </div>
                    
                </div>
                
                <div class="col-8 col-md-9">
                    <p><%= link_to "#{user.name}", user_path(user), class: "text-decoration-none", :style=>"color:black"%>
                    <%= user.self_introduction %></p>
                </div>
                
                <div class="col-12 col-md-2">
                    <%= render 'relationships/follow_button', user: user %>
                </div>
            </div>
        <% end %>
    <% end %>

    <div class="pagy">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>