<div class="text-center">
    <h1>プロフィール設定</h1>
</div>

<div>
    <%= link_to '戻る', :back, class: "text-decoration-none" %>
</div>

<div class="row user_edit">
    <div class="col-sm-6 offset-sm-3">
        
        <%= form_with(model: current_user) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
        
            <div class="mb-3">
                <h5><%= f.label :name, 'アカウント名' %></h5>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
                <h5><%= f.label :image, 'プロフィール画像' %></h5>
                <%= f.file_field :image %> 
                <p>※画像を変更しない場合は、再度アップロードする必要はありません。</p>
            </div>
            
            <div class="mb-3">
                <h5><%= f.label :self_introduction, '自己紹介' %></h5>
                <%= f.text_area :self_introduction, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
                <h5><%= f.label :email, 'メールアドレス' %></h5>
                <%= f.email_field :email, class: 'form-control' %>
            </div>
            
            <div>
                <%= f.submit '変更', class: 'btn btn-primary w-50 d-block mx-auto' %>
            </div>
        <% end %>
    </div>
</div>