<div>
    <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if action_name == "followers" %>">フォロワー <span class="badge rounded-pill bg-secondary"><%= @count_followers %></span></a></li>
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if action_name == "followings" %>">フォロー <span class="badge rounded-pill bg-secondary"><%= @count_followings %></span></a></li>
    </ul>
</div>

<div>
    <%= render 'users', users: @followers %>
</div>
