<div class="row">
    <div>
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item"><%= link_to 'ユーザー', users_path, class: "nav-link" %></li>
            <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
            <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
        </ul>
    </div>

    <div class="d-flex flex-row bd-htghlight mb-3">
        <div>
            <%= image_tag @user.image.to_s %>
        </div>
        <div class="p-2 bd-highlight">
            <%= link_to 'プロフィール画像を変更', edit_user_path(@user), class: 'btn btn-primary w-10 text-right' %>
        </div>
        <div>
            <h3><%= @user.name %></h3>
        </div>
        <div class="p-2 bd-highlight">
            <%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary w-10 text-right' %>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">コレクション</h3>
            </div>
            <div class="card-body">
                <a href="<%= myposts_path %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><span class="badge bg-secondary"><%= @count_posts %></span></a>
            </div>
            <div class="card-header">
                <h3 class="card-title">フォロワー</h3>
            </div>
            <div class="card-body">
                
            </div>
            <div class="card-header">
                <h3 class="card-title">フォロー</h3>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>

    <div type="button" class="btn btn-danger btn-sm" >
        <%= link_to '退会', @user, method: :delete, data: { confirm: 'すべての情報が消えます。本当に退会してもよろしいですか？' } %>
    </div>
</div>