<div class="row">
    <div class="d-flex flex-row bd-htghlight mb-3">
        <div class="col-2">
            <div class="text-center icon_show">
                <%= image_tag @user.image.to_s, alt: "アカウント画像" %>
            </div>
            <% if current_user == @user %>
                <div class="user_image_edit">
                    <%= link_to '画像を変更', edit_user_path(@user), class: "badge bg-secondary text-decoration-none"%>
                </div>
            <% end %>
        </div>
        <div class="user_show_name col-10 d-flex">
            <div>
                <h3><%= @user.name %></h3>
            </div>
            <div class="user_show_button">
                <div>
                    <%= render 'relationships/follow_button', user: @user %>
                </div>
                <% if current_user == @user %>
                    <div class="bd-highlight">
                        <%= link_to '編集', edit_user_path(@user), class: 'btn btn-outline-primary text-right btn-sm' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="user_show_counts text-center" style="height: 150px;">
        <div class="card mb-4 shadow-sm col-4">
            <div class="card-header">
                <h4 class="card-title my-0 fw-normal card-title-collection">コレクション</h4>
            </div>
            <div class="card-body">
                <a href="<%= posts_user_path %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><span class="badge rounded-pill bg-dark"><%= @count_posts %></span></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm col-4">
            <div class="card-header">
                <h4 class="card-title my-0 fw-normal">フォロワー</h4>
            </div>
            <div class="card-body">
                <a href="<%= followers_user_path %>" class="nav-link <%= 'active' if action_name == "followers" %>"><span class="badge rounded-pill bg-dark" ><%= @count_followers %></span></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm col-4">
            <div class="card-header">
                <h4 class="card-title my-0 fw-normal">フォロー</h4>
            </div>
            <div class="card-body">
                <a href="<%= followings_user_path %>" class="nav-link <%= 'active' if action_name == "followings" %>"><span class="badge rounded-pill bg-dark"><%= @count_followings %></span></a>
            </div>
        </div>
    </div>
    <div class="p-2 bd-highlight user_self_introduction">
        <% if @user.self_introduction.nil? %>
            <%= @user.self_introduction %>
        <% else %>
            <%= safe_join(@user.self_introduction.split("\n"), tag(:br)) %>
        <% end %>
    </div>
    
    <div class="user_delete_box">
        <% if current_user == @user %>
            <%= link_to '退会', @user, method: :delete, data: { confirm: 'すべての情報が消えます。本当に退会してもよろしいですか？' }, class: 'btn btn-danger btn-sm text-decoration-none user_delete' %>
        <% end %>
    </div>
</div>