<div class="top_wrapper">
    <% if logged_in? %>
        <div class="new_posts">
            <%= link_to '新しく保管', new_post_path, class: "btn btn-primary" %>
        </div>
        <div class="myshowcase_link">
            <h1><%= link_to 'My Showcase', posts_user_path(current_user), :style=>"color:black" %></h1>
        </div>
        <div class="myposts_all">
            <%= render 'posts/myposts', posts: @posts %>
        </div>
        <div class="timeline">
            <h1>タイムライン</h1>
            <%= render 'posts/posts', posts: @posts %>
        </div>
    <% else %>
        <div>
            <%= render 'toppages' %>
        </div>
    <% end %>
</div>