<div>
    <%= link_to '戻る', :back, class: "text-decoration-none" %>
</div>
<h1>My Showcase</h1>
<div class="row">
    <% if @posts.any? %>
        <% @posts.each do |post| %>
            <div class="col-6 col-md-3 col-lg-2 posts_myshowcase">
                <div class="image-wrapper">
                    <%= link_to (image_tag post.post_image.to_s, alt: "コレクション画像"), post_path(post), class: "text-decoration-none" %>
                </div>
                <%= truncate(post.comment, length: 15, omission: ' ...') %>
            </div>
        <% end %>
        <div class="pagy">
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    <% else %>
        <h3 class="text-center">コレクションを保管してみよう！</h3>
        <div class="new_posts">
            <%= link_to '新しく保管', new_post_path, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>