<div>
    <%= link_to '戻る', :back, class: "text-decoration-none" %>
</div>

<div class="text-center">
    <h1>保管する</h1>
</div>

<div class="row posts_new">
    <div class="col-sm-6 offset-sm-3">
        
        <%= form_with(model: @post) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
        
            <div class="mb-3">
                <h5><%= f.label :post_image, '写真をアップロード' %></h5>
                <%= f.file_field :post_image, class: 'form-control' %>
            </div>
            
            <div class="date_price row">
                <div class="mb-3 col-6">
                    <h5><%= f.label :get_at, '手に入れた日' %></h5>
                    <%= f.date_field :get_at, class: 'form-control w-100' , value: Time.current.strftime('%Y-%m-%d')%>
                </div>
                
                <div class="mb-3 col-6">
                    <h5><%= f.label :price, '値段' %></h5>
                    <div class="d-flex">
                        <%= f.text_field :price, class: 'form-control w-100', placeholder: "半角数字で入力" %><span class="mt-2">円</span>
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <h5><%= f.label :comment, 'コメント' %></h5>
                <%= f.text_area :comment, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
                <h5><%= f.label :hash_tag, 'ハッシュタグ追加' %></h5>
                <%= f.text_field :hash_tag, class: 'form-control w-100', placeholder: '#を付けて入力' %>
            </div>
            
            <%= f.submit '保管', class: 'btn btn-primary w-50 d-block mx-auto mt-5' %>
        <% end %>
    </div>
</div>
<div class="link_text">
    <p><%= link_to 'My Showcaseへ', myshowcase_posts_path, class: "text-decoration-none" %></p>
</div>