<div class="row">
    <div class="bd-htghlight mb-3">
        <div class="d-flex">
            <div class="col-2">
                <div>
                    <h5>Collector</h5>
                </div>
                <div class="icon">
                    <%= image_tag @post.user.image.to_s, alt: "アカウント画像" %>
                </div>
            </div>
            <div class="post_show_user d-flex flex-row">
                <div class="mt-4">
                    <h3><%= @post.user.name %></h3>
                </div>
                <div class="d-flex post_edit_delete">
                    <% if current_user == @post.user %>
                        <div class="p-2 bd-highlight">
                            <%= link_to 'アイテム編集', edit_post_path(@post), class: 'btn btn-outline-primary btn-sm text-right mt-3' %>
                        </div>
                        <div class="btn p-2 post_delete" >
                            <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'text-decoration-none btn btn-danger btn-sm mt-3' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="posts_show_image col-7 col-md-6 mx-auto">
            <%= image_tag @post.post_image.to_s, alt: "コレクション画像" %>
        </div>
        <div class="date_price row text-center">
            <div class="mb-3 col-6">
                <h5>手に入れた日</h5>
                <div class="border border-light w-100">
                    <h6><%= @post.get_at %></h6>
                </div>
            </div>
            <div class="mb-3 col-6">
                <h5>値段</h5>
                <div class="border border-light">
                    <h6><%= @post.price %><span>円</span></h6>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h5>コメント</h5>
            <div class="comment">
                <%= safe_join(@post.comment.split("\n"), tag(:br)) %>
                <div>
                    <%= render_with_hashtags(@post.hash_tag) %>
                </div>
            </div>
        </div>
    </div>
</div>