<header>
    <nav style="background-color:#1E90FF;">
        <div class="container-fluid">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="col-auto me-auto">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none navbar-brand">
                  Collect
                </a>
            </div>
    
            <div class="dropdown text-end">
                <% if logged_in? %>
                
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag current_user.image.to_s, alt: "アカウント画像", :width=>"32", :height=>"32",class: "rounded-circle" %>
                  </a>
              
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user), class: "nav-link" %></li>
                    <li class="dropdown-item"><%= link_to 'ユーザー', users_path, class: "nav-link" %></li>
                    <li class="dropdown-item"><a href="<%= followers_user_path(current_user) %>" class="nav-link">フォロワー <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
                    <li class="dropdown-item"><a href="<%= followings_user_path(current_user) %>" class="nav-link">フォロー <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
                  </ul>
              <% else %>
                  <nav  class="navbar navbar-expand-sm navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item"><%= link_to '新規登録', signup_path, class: "nav-link" %></li>
                        <li class="nav-item"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
                    </ul>
                </nav>
              <% end %>
            </div>
          </div>
        </div>
    </nav>
</header>